/* Projects.css */

@media (max-width: 768px) {
    .project-card  {
        padding: 1.5rem;
    }
}

.project-card  img {
    max-height: 200px;
    object-fit: contain;
}

.project-card span {
    font-weight: 500;
}




